.logo {
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.searchbar {
  width: 604px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: auto;
  border: none;
}

input[type="text"] {
  width: 600px;
  height: 38px;
  font-size: 16pt;
}

.center {
  margin-top: 50px;
  display: block;
  text-align: -webkit-center;
}

input[type="button"] {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

/* Concerning links and sub-submission button alerts */

.alert {
  margin-top: 50px;
  text-align: center;
}

a:link {
  color: #1a0dab;
  text-decoration: none;
}

a:visited{
  color: #609;
}


div .right li{
  display: block;
  padding: 8px;
  background-color: #efefef;
  margin: auto;
  list-style-type: none;
  display: inline;
  float: right;

}

div .left li{
  display:block;
  padding: 8px;
  background-color: #efefef;
  margin:auto;
  list-style-type: none;
  display: inline;
  text-align: bottom;
}

.footer{
  position: absolute;
  height: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 20px;
  background-color: #efefef;

}
