.logo {
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.searchbar {
  width: 604px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: auto;
  border: none;
}

input[type="text"] {
  width: 600px;
  height: 38px;
  font-size: 16pt;
}
